sdcv-dict
auto-save-list
devdocs
.cask
elpa
dcache
anaconda-mode
company-statistics-cache.el
straight
.cache/
recentf
eln-cache
/bin/
/tutorial/
/server/
projects
/quelpa/
librime
transient
transient/history.el
/.mc-lists.el
/semanticdb/
/url/
tramp
/.lsp-session-v1
/org-roam.db
/.org-id-locations
/bookmarks
/persp-confs/
/multisession/
/projectile*
/emojis/
/.projectile
/snails.db
/projectile-bookmarks.eld
/history
/.project
/.dap-*
/places
*.data
